{% extends 'main/index.html' %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block navbar %}
{{ block.super }}
{% endblock %}

{% block content %}
<section class="space">
    <div class="center">
        <h2>Lista de Usuarios</h2>
        <a href="{% url 'crear_usuario' %}">
            <button class="btn btn-primary">Crear Usuario</button>
        </a>
        <table class="table ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre de Usuario</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>
                        {% if usuario.foto %}
                            <img src="{{ usuario.foto.url }}" alt="Foto de {{ usuario.user.username }}" width="50">
                        {% endif %}
                    </td>
                    <td>{{ usuario.user.username }}</td>
                    <td>{{ usuario.user.email }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.get_cargo_display }}</td>
                    <td>
                        <a href="{% url 'editar_usuario' usuario.id %}">
                            <button class="btn btn-primary">Editar</button>
                        </a>
                        <button class="btn btn-download" onclick="abrir_modal('{% url 'modal_reset_password' usuario.user.id %}')">
                            Resetear Contraseña
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No hay usuarios registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div id="modal-container"></div>
{% endblock %}