<div class="modal" id="modal">
  <div class="modal-content-eliminar">
    <div class="modal_header">
      <h2>Restablecer Contraseña para {{ usuario.username }}</h2>
      
      <form id="resetPasswordForm" method="post" action="{% url 'resetear_contrasena_admin' usuario.id %}">
        {% csrf_token %}
        <p>Ingresa la nueva contraseña para <strong> {{ usuario.username }}</strong> .</p>
        
        <div class="modal-body">
            <div class="mb-3">
                <label for="id_nueva_contrasena" class="form-label">Nueva Contraseña:</label>
                <input type="password" class="input-user" id="id_nueva_contrasena" name="nueva_contrasena" required>
            </div>
            <div class="mb-3">
                <label for="id_confirmar_contrasena" class="form-label">Confirmar Contraseña:</label>
                <input type="password" class="input-user" id="id_confirmar_contrasena" name="confirmar_contrasena" required>
            </div>
        </div>

        <div class="confirmation_container">
          <button type="submit" class="btn btn-download">Guardar Contraseña</button>
          <button type="button" class="btn btn-primary" onclick="cerrar_modal()">Cancelar</button> 
        </div>
      </form>
    </div>
  </div>
</div>