{% extends 'main/index.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="space">
  <div class="header-bar">
    <button type="button" class="btn-back" onclick="history.back()">
      <img src="{% static 'imgs/left-long-solid.svg' %}" class="icon_main" alt="">
      <span>Volver</span>
    </button>
    <h2>Editar Cliente</h2>
    <div class="spacer"></div>
  </div>

  <form method="post" id="clientesForm">
    {% csrf_token %}
    <div class="form-group">
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      {% for field in form %}
        {% if field.name == 'productos' %}

        {% elif field.name == 'Estado' %}
          <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            <div class="radio-inline-group">
              {{ field }}
            </div>
            {% if field.errors %}
              <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
          </div>
        {% else %}
          <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
          </div>
        {% endif %}

        {# Insertar el selector de productos después del campo "Sector" #}
        {% if field.name == 'Sector' %}
          <div class="mb-3">
            <label for="{{ form.productos.id_for_label }}" class="form-label">{{ form.productos.label }}</label>
            {{ form.productos }}
            <div id="producto-selector" class="categoria-custom-selector"></div>
            {% if form.productos.errors %}
            <div class="text-danger">{{ form.productos.errors }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
{% endblock %}
